<html>
   <body style="font-family: sans-serif; text-align: center;">
      <h1>SMWA Demo</h1>
      <div style="display: inline-block; width: 40%;">
         <h2>Step 1: Connect to Wi-Fi</h2>
         <img src="/static/wifi_qr.png"/>
         <h3>SSID: SMWA</h3>
         <h3>Pass: case.fox.pickle</h3>
      </div>
      <div style="display: inline-block; width: 40%;">
         <h2>Step 2: Go to our website</h2>
         <img src="/static/link_qr.png"/>
         <h3>192.168.137.1</h3>
      </div>
   </body>
</html>