<html>
   <head>
      <title>SMWA</title>
 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js></script>
      <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

      
      <script>
         /* They say never judge a book by its cover.
            One should also never judge a person by the JavaScript 
            they write the night before a senior design expo.
         */

         var chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)',
            black: 'rgb(0, 0, 0)'
         };

         const inputDateFormat = 'YYYY-MM-DDTHH:mm:ss';
         const serverDateFormat = 'DDMMYYHHmmss';

         function onRefresh(historicalChart) {
            dataset = historicalChart.data.datasets[0]

            fetch('http://192.168.137.1/read/now')
            .then(response => {
               return response.json()
            })
            .then(data => {
               dataPoint = {
                  x: data.date,
                  y: data.read
               };

               if (!dataset.data.filter(read => (read.y === dataPoint.y)).length) {
                  dataset.data.push(dataPoint);
                  annotation = realtimeChart.options.annotation.annotations[0];
                  annotation.value = dataPoint.y;
                  annotation.label.content = Math.round(dataPoint.y) + ' W';
                  realtimeChart.update();
               }
            })
         }

         var color = Chart.helpers.color;
         var realtimeConfig = {
            type: 'line',
            data: {
               datasets: [{
                  backgroundColor: color(chartColors.yellow).alpha(0.5).rgbString(),
                  borderColor: chartColors.yellow,
                  fill: true,
                  data: []
               }]
            },
            options: {
               responsive: false,
               maintainAspectRatio: false,
               title: {
                  display: true,
                  text: 'Realtime Power Usage',
                  fontSize: 18
               },
               scales: {
                  xAxes: [{
                     type: 'realtime',
                     distribution: 'linear',
                     realtime: {
                        duration: 120000,
                        refresh: 4000,
                        delay: 8005,
                        onRefresh: onRefresh
                     },
                     time: {
                        unit: 'second',
                        displayFormats: {
                           second: ' ',
                           minute: 'H:mm'
                        }
                     }
                  }],
                  yAxes: [{
                     ticks: {
                        suggestedMin: 0
                     },
                     scaleLabel: {
                        display: false,
                        labelString: 'Power'
                     }
                  }]
               },
               legend: {
                  display: false
               },
               tooltips: {
                  mode: 'nearest',
                  intersect: false,
                  callbacks: {
                     title: function(tooltipItem, data) {
                        return Math.round(tooltipItem[0].value) + ' W';
                     },
                     label: function(tooltipItem, data) {
                        var date = moment(tooltipItem.label);
                        return date.format('H:mm:ss');
                     }
                  },
                  displayColors: false,
                  backgroundColor: color(chartColors.black).alpha(0.8).rgbString()
               },
               hover: {
                  mode: 'nearest',
                  intersect: false
               },
               annotation: {
                  annotations: [
                     {
                        type: 'line',
                        mode: 'horizontal',
                        scaleID: 'y-axis-0',
                        borderColor: color(chartColors.black).alpha(0.8).rgbString(),
                        borderWidth: 3,
                        value: 0,
                        label: {
                           content: '0 W',
                           enabled: true,
                           fontSize: 18
                        }
                     }
                  ]
               }
            }
         };

         var historicalConfig = {
            type: 'line',
            data: {
               datasets: [{
                  backgroundColor: color(chartColors.green).alpha(0.5).rgbString(),
                  borderColor: chartColors.green,
                  borderWidth: 2,
                  pointRadius: 0,
                  fill: true,
                  data: []
               }]
            },
            options: {
               responsive: false,
               maintainAspectRatio: false,
               title: {
                  display: true,
                  text: 'Historical Usage',
                  fontSize: 18
               },
               scales: {
                  xAxes: [{
                     type: 'time',
                     distribution: 'linear',
                     time: {
                        displayFormats: {
                           second: ' ',
                           minute: 'H:mm'
                        }
                     }
                  }],
                  yAxes: [{
                     ticks: {
                        suggestedMin: 0
                     },
                     scaleLabel: {
                        display: false,
                        labelString: 'Power'
                     }
                  }]
               },
               legend: {
                  display: false
               },
               tooltips: {
                  mode: 'nearest',
                  intersect: false,
                  callbacks: {
                     title: function(tooltipItem, data) {
                        return Math.round(tooltipItem[0].value) + ' W';
                     },
                     label: function(tooltipItem, data) {
                        var date = moment(tooltipItem.label);
                        return date.format('H:mm:ss');
                     }
                  },
                  displayColors: false,
                  backgroundColor: color(chartColors.black).alpha(0.8).rgbString()
               },
               annotation: {
                  annotations: [
                     {
                        type: 'line',
                        mode: 'horizontal',
                        scaleID: 'y-axis-0',
                        borderColor: 'rgba(0,0,0,0)',
                        borderWidth: 3,
                        value: 1000,
                        label: {
                           content: '0 kWH',
                           enabled: true,
                           fontSize: 18
                        }
                     }
                  ]
               },
               hover: {
                  mode: 'nearest',
                  intersect: false
               },
               plugins: {
                  streaming: false
               }
            }
         };

         var predictConfig = {
            type: 'line',
            data: {
               datasets: [
               {
                  label: 'Predicted',
                  backgroundColor: color(chartColors.black).alpha(0.5).rgbString(),
                  borderColor: chartColors.black,
                  borderWidth: 2,
                  borderDash: [4,7],
                  pointRadius: 0,
                  fill: false,
                  data: []
               },
               {
                  label: 'Actual',
                  backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
                  borderColor: chartColors.red,
                  borderWidth: 2,
                  pointRadius: 0,
                  fill: true,
                  data: []
               },]
            },
            options: {
               responsive: false,
               maintainAspectRatio: false,
               title: {
                  display: true,
                  text: 'Predicted vs Actual Usage',
                  fontSize: 18
               },
               scales: {
                  xAxes: [{
                     type: 'time',
                     distribution: 'linear',
                     time: {
                        displayFormats: {
                           second: 'H:mm:ss',
                           minute: 'H:mm',
                           hour: 'H'
                        }
                     }
                  }],
                  yAxes: [{
                     scaleLabel: {
                        display: false,
                        labelString: 'Power'
                     }
                  }]
               },
               legend: {
                  display: true,
                  position: 'bottom'
               },
               tooltips: {
                  mode: 'nearest',
                  intersect: false,
                  callbacks: {
                     title: function(tooltipItem, data) {
                        return Math.round(tooltipItem[0].value) + ' W';
                     },
                     label: function(tooltipItem, data) {
                        var date = moment(tooltipItem.label);
                        return date.format('H:mm:ss');
                     }
                  },
                  displayColors: false,
                  backgroundColor: color(chartColors.black).alpha(0.8).rgbString()
               },
               annotation: {
                  annotations: [
                     {
                        type: 'line',
                        mode: 'horizontal',
                        scaleID: 'y-axis-0',
                        borderColor: 'rgba(0,0,0,0)',
                        borderWidth: 3,
                        value: 1000,
                        label: {
                           content: '0 kWH',
                           enabled: true,
                           fontSize: 18,
                           position: 'right',
                           xAdjust: 200
                        }
                     },
                     {
                        type: 'line',
                        mode: 'horizontal',
                        scaleID: 'y-axis-0',
                        borderColor: 'rgba(0,0,0,0)',
                        borderWidth: 3,
                        value: 1000,
                        label: {
                           content: '0 kWH',
                           enabled: true,
                           fontSize: 18,
                           position: 'left',
                           xAdjust: 200,
                           backgroundColor: chartColors.red
                        }
                     }
                  ]
               },
               hover: {
                  mode: 'nearest',
                  intersect: false
               },
               plugins: {
                  streaming: false
               }
            }
         };

         var endTime = 0;

         window.onload = function() {
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.defaultFontColor = 'rgba(0,0,0,0.8)';

            var realtimeCtx = document.getElementById('realtimeChart').getContext('2d');
            window.realtimeChart = new Chart(realtimeCtx, realtimeConfig);

            var predictCtx = document.getElementById('predictChart').getContext('2d');
            window.predictChart = new Chart(predictCtx, predictConfig);

            var historicalCtx = document.getElementById('historicalChart').getContext('2d');
            window.historicalChart = new Chart(historicalCtx, historicalConfig);
            
            var colorNames = Object.keys(chartColors);

            function predictVsActual() {
               const nowTime = moment().toISOString();

               fetch(`http://192.168.137.1/analytics/prediction?end=${endTime}`)
               .then(response => {
                  return response.json()
               })
               .then(data => {
                  const kWH = (data / 1000).toFixed(2);
                  dataPoint = {
                     x: nowTime,
                     y: data
                  };

                  predictDataset = predictChart.data.datasets[0];
                  predictDataset.data.push(dataPoint);

                  var annotation = predictChart.options.annotation.annotations[0];
                  annotation.value = data;
                  annotation.label.content = kWH + ' kWH';

                  predictChart.update();
               })
               
               fetch(`http://192.168.137.1/analytics/consumption`)
               .then(response => {
                  return response.json()
               })
               .then(data => {
                  const kWH = (data / 1000).toFixed(2);
                  dataPoint = {
                     x: nowTime,
                     y: data
                  };

                  predictDataset = predictChart.data.datasets[1];
                  predictDataset.data.push(dataPoint);

                  var annotation = predictChart.options.annotation.annotations[1];
                  annotation.value = data;
                  annotation.label.content = kWH + ' kWH';

                  predictChart.update();
               })
            }

            function predictCalc_click() {
               endTime = document.getElementById('predictEnd').value;
               endTime = moment(endTime, inputDateFormat).format(serverDateFormat);
               predictDataset = predictChart.data.datasets[0];
               predictDataset.data = [];
               predictVsActual();
            }

            document.getElementById('predictCalc').addEventListener('click', predictCalc_click);

            function consumptionCalc() {
               var startTime = document.getElementById('consumStart').value;
               var endTime = document.getElementById('consumEnd').value;

               startTime = moment(startTime, inputDateFormat).format(serverDateFormat);
               endTime = moment(endTime, inputDateFormat).format(serverDateFormat);

               fetch(`http://192.168.137.1/read?start=${startTime}&end=${endTime}`)
               .then(response => {
                  return response.json()
               })
               .then(data => {

                  var newData = new Array();
                  
                  data.readings.forEach(function(reading){
                     dataPoint = {
                        x: reading.date,
                        y: reading.read
                     };
                     newData.push(dataPoint);
                  });

                  historicalDataset = historicalChart.data.datasets[0];
                  historicalDataset.data = newData;
                  historicalChart.update();
                  return;
               })
               .then(function(){
                  fetch(`http://192.168.137.1/analytics/consumption?start=${startTime}&end=${endTime}`)
                  .then(response => {
                     return response.json()
                  })
                  .then(data => {
                     const kWH = (data / 1000).toFixed(2);
                     var yMax = historicalChart.scales['y-axis-0'].max;
                     var annotation = historicalChart.options.annotation.annotations[0];
                     annotation.value = yMax / 2;
                     annotation.label.content = kWH + ' kWH';
                     historicalChart.update();
                  })
               })
            }

            document.getElementById('consumCalc').addEventListener('click', consumptionCalc);
            fetch('http://192.168.137.1/read')
            .then(response => {
               return response.json()
            })
            .then(data => {

               var newData = new Array();
               
               data.readings.forEach(function(reading){
                  dataPoint = {
                     x: reading.date,
                     y: reading.read
                  };
                  newData.push(dataPoint);
               });

               historicalDataset = historicalChart.data.datasets[0];
               realtimeDataset = realtimeChart.data.datasets[0];

               var currentReading = newData[newData.length-1];
               var annotation = realtimeChart.options.annotation.annotations[0];
               annotation.value = currentReading.y;
               annotation.label.content = Math.round(currentReading.y) + ' W';
               realtimeDataset.data = newData;
               realtimeChart.update();
               
               fetch(`http://192.168.137.1/analytics/consumption`)
               .then(response => {
                  return response.json()
               })
               .then(data => {
                  const kWH = (data / 1000).toFixed(2);
                  var yMax = historicalChart.scales['y-axis-0'].max;
                  var annotation = historicalChart.options.annotation.annotations[0];
                  annotation.value = yMax / 2;
                  annotation.label.content = kWH + ' kWH';
                  historicalChart.update();
               })

               Object.assign(historicalDataset.data, newData);
               historicalChart.update();
               
               document.getElementById('consumStart').value = 
                     moment(newData[0].x).format(inputDateFormat);
               document.getElementById('consumEnd').value = 
                     moment(currentReading.x).format(inputDateFormat);
               document.getElementById('predictEnd').value = moment(currentReading.x).add(1, 'hour').format(inputDateFormat);
               predictCalc_click();
            })
            setInterval(predictVsActual, 10000);
         };
      </script>
   </head>
   <body style="font-family: Arial, Helvetica, sans-serif;">
      <div style="margin:auto;width:750px!important;">
         <canvas id="realtimeChart" style="height:275px!important;width:750px!important;"></canvas>
         <hr>
         <canvas id="predictChart" style="height:275px!important;width:750px!important;"></canvas>
         <div style="text-align: center;">
               <span><b>For</b></span>
               <input id="predictEnd" type="datetime-local" style="font-family: Arial, Helvetica, sans-serif; font-size: medium;"/>
               <input id="predictCalc" type="button" style="font-family: Arial, Helvetica, sans-serif; font-size: medium;" value="Predict"/>
         </div>
         <hr>
         <canvas id="historicalChart" style="height:275px!important;width:750px!important;"></canvas>
         <div style="text-align: center;">
            <span><b>From</b></span>
            <input id="consumStart" type="datetime-local" style="font-family: Arial, Helvetica, sans-serif; font-size: medium;"/>
            <span><b>To</b></span>
            <input id="consumEnd" type="datetime-local" style="font-family: Arial, Helvetica, sans-serif; font-size: medium;"/>
            <input id="consumCalc" type="button" style="font-family: Arial, Helvetica, sans-serif; font-size: medium;" value="Calculate"/>
         </div>
      </div>         
   </body>
</html>